body {
    margin: 0;
    padding: 0;
    background-image: url(darkgreen.jpg);
}
div {
    overflow: hidden;
}
.title {
    position: absolute;
    right: 20%;
    top: 55%;
    color: #CCCCCC;
    font-family: 'Helvetica Neue', "sans-serif";
    text-align: right;
}
.title > h1 {
    font-size: 3em;
}
.title > p {
    font-size: 1em;
}
.footer {
    position: fixed;
    bottom: 0;
    right: 10px;
    color: #666666;
}
.dark-background {
    background: rgba(0,0,0,.7);
    margin: auto;
    height: auto;

}
#login {
    width: 400px;
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: #CCCCCC;
    margin: 200px auto;

}
#login button {
    margin-top: 10px;
    clear: both;
}
#login input {
    display: block;
    margin-left: 28%;
}
#signUp {
    width: 400px;
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: #CCCCCC;
    margin: 100px auto;


}
#signUp p {
    text-align: center;
    margin: 15px;
    color: #ffffff;
    font-size: 16px;
}
#signUp input {
    margin-top: 10px;
}
#signUp .btn-danger {
    margin-top: 20px;
}
.aboutContent {
    text-align: center;
    color: #CCCCCC;
}
.aboutContent p {
    text-align: left;
    margin: 10px;
    font-size: 18px;
}
.top {
    width: 80%;
    height: 45%;
    box-sizing: border-box;
    margin: 20px auto;
}
.top p {
    text-align: center;
}
.bottomLeft {
    width: 50%;
    height: 40%;
    box-sizing: border-box;
    float: left;
    border-top: 3px solid #444444;
    border-right: 2px solid #444444;
    margin-bottom: 200px;

}
.bottomRight {
    width: 50%;
    height: 40%;
    box-sizing: border-box;
    float: right;
    border-top: 3px solid #444444;
    border-left: 2px solid #444444;
}























